{
  "extends": "auth0",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "import/no-extraneous-dependencies": "off"
  },
  "plugins": []
}
